.git
node_modules
static/index.seo.html
faucet-config.json
# do not add faucet-config.yaml or faucet-config.example.yaml here
faucet-config-bnb.yaml
faucet-config-eth.yaml
faucet-status.json
faucet-store.json
faucet-stats.log
faucet-events.log
faucet-pid.txt
