# random secret string that is used by the faucet to "sign" session data, so sessions can be restored automatically by clients when faucet is restarted / crashed
# use a random string and do not share / reuse it anywhere. Everyone knowing this secret is theoretically able to claim rewards from the faucet without mining.
FAUCET_SECRET: "RandomStringThatShouldBeVerySecret"

# faucet wallet private key (hex, without 0x prefix)
ETH_WALLET_KEY: "feedbeef12340000feedbeef12340000feedbeef12340000feedbeef12340000"
