.nyc_output/
bin/
build/
bundle/
coverage/
dist/
node_modules/
static/index.seo.html
static/css/powfaucet*
static/js/powfaucet*
faucet-config.json
faucet-config.yaml
faucet-status.json
faucet-status.yaml
faucet-store.*
faucet-stats.log
faucet-events.log
faucet-pid.txt
tmp*