.nyc_output/
bin/
build/
coverage/
faucet-client/
faucet-wasm/
node_modules/
res/
static/index.seo.html
faucet-config.json
faucet-config.yaml
faucet-status.json
faucet-status.yaml
faucet-store.*
faucet-stats.log
faucet-events.log
faucet-pid.txt
tmp*