
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.faucet-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.faucet-container {
  padding: 8px;
  margin: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.pow-faucet .faucet-page {
  width: 440px;
}

.pow-faucet .loading-spinner {
  padding: 16px 0;
}

.pow-faucet .loading-spinner .spinner {
  height: 30px;
  margin: 0 16px;
}

.pow-faucet .pow-faucet-home {
  text-align: center;
}

.pow-faucet .pow-faucet-home .image {
  max-width: 100%;
}

.pow-faucet .faucet-image {
  margin: 8px 8px 8px 8px;
}
 
@media screen and (max-height:700px) {
  .pow-faucet .faucet-image {
    display:none;
  }
}

.pow-faucet .faucet-actions {
  margin: 8px 0;
}

.pow-faucet .faucet-actions button {
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pow-faucet .faucet-actions button.start-action {
  background-color: #4CAF50;
}

.pow-faucet .faucet-actions button.stop-action {
  background-color: #af4c4c;
}

.pow-faucet .faucet-actions button:disabled {
  background-color: gray;
  color: #ccc;
  cursor: wait;
}

.pow-faucet .faucet-inputs {
  margin-top: 24px;
}

.pow-faucet .faucet-captcha {
  text-align: center;
  margin-top: 8px;
}

.pow-faucet .faucet-captcha > div {
  display: inline-block;
}

.pow-faucet .faucet-title {
  position: relative;
}

.pow-faucet .faucet-title .faucet-status-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.pow-faucet .pow-header {
  position: relative;
}

.pow-faucet .pow-status {
  height: 100%;
  background-color: white;
  border: 1px solid darkgray;
  padding: 8px;
}

.pow-faucet .pow-status .pow-status-top .status-title {
  text-align: center;
}

.pow-faucet .pow-status .pow-status-top .status-value {
  text-align: center;
  font-size: 28px;
}

.pow-faucet .pow-status .pow-status-spacer {
  height: 16px;
}

.pow-faucet .pow-status .pow-status-other {
  margin-top: 4px;
}

.pow-faucet .pow-status .pow-worker-controls button {
  width: 27px;
  margin-right: 6px;
  border-radius: 15px;
  height: 20px;
  padding: 0;
}

.pow-faucet .pow-status .pow-passport-controls button {
  width: 75px;
  margin-right: 6px;
  border-radius: 15px;
  height: 20px;
  padding: 0;
}

.spinner-alert .spinner-text {
  vertical-align: top;
  margin-left: 12px;
}

.pow-faucet .faucet-status {
  max-width: none;
}

.pow-faucet .faucet-status .status-panel {
  margin-bottom: 8px;
}

.pow-faucet .faucet-status .ipaddr-icon {
  margin-right: 8px;
}

.pow-faucet .faucet-description {
  font-size: 11pt;
  color: #343a40;
  margin-top: 16px;
}

.pow-faucet .faucet-description .pow-info {
  margin-top: 8px;
}

.pow-faucet .faucet-notifications {
  position: fixed;
  bottom: 0;
  right: 0;
}

.pow-faucet .faucet-notifications .pow-notification .alert {
  padding: 8px;
  min-width: 300px;
}

.pow-faucet .faucet-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 4px;
  font-size: 12px;
  color: #343a40;
  pointer-events: none;
}


@media (max-width: 576px) {
  .pow-captcha-modal {
    max-width: 700px;
  }
}

.pow-captcha-modal .container {
  max-width: none;
}

#ipinfo-tooltip .tooltip-inner {
  max-width: none;
}

#ipinfo-tooltip .ipaddr-info {
  min-width: 200px;
  text-align: left;
}

#ipinfo-tooltip .ipaddr-info.claim-error {
  max-width: 500px;
}

#ipinfo-tooltip .ipaddr-info > table {
  width: 100%;
}

#ipinfo-tooltip .ipaddr-info .ipinfo-title {
  min-width: 80px;
}

#ipinfo-tooltip .ipaddr-info .ipinfo-value {
  min-width: 50px;
}

.pow-faucet .status-sessions td, .pow-faucet .status-sessions th {
  padding: 0;
}

.pow-faucet .status-general {
  max-width: none;
}

.pow-faucet .status-general .status-title {
  display: inline-block;
  width: 180px;
}

.pow-captcha-modal .result-sharing {
  margin-top: 12px;
}

.pow-captcha-modal .result-sharing .sh-link > a {
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 10px 1px 10px;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.pow-captcha-modal .result-sharing .sh-link > a > i {
  position: relative;
  display: inline-block;
  background: transparent 0 0 no-repeat;
}

.pow-captcha-modal .result-sharing .sh-link > a > span {
  font-size: 13px;
  line-height: 26px;
  margin-left: 4px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}


.pow-captcha-modal .result-sharing .sh-link.sh-tw > a {
  background-color: #1d9bf0;
  color: #fff;
}

.pow-captcha-modal .result-sharing .sh-link.sh-tw > a > i {
  top: 4px;
  height: 18px;
  width: 18px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 72 72%27%3E%3Cpath fill=%27none%27 d=%27M0 0h72v72H0z%27/%3E%3Cpath class=%27icon%27 fill=%27%23fff%27 d=%27M68.812 15.14c-2.348 1.04-4.87 1.744-7.52 2.06 2.704-1.62 4.78-4.186 5.757-7.243-2.53 1.5-5.33 2.592-8.314 3.176C56.35 10.59 52.948 9 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396c-1.125 1.936-1.77 4.184-1.77 6.58 0 4.543 2.312 8.552 5.824 10.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09-4.482 3.51-10.13 5.605-16.26 5.605-1.055 0-2.096-.06-3.122-.184 5.794 3.717 12.676 5.882 20.067 5.882 24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693 2.558-1.847 4.778-4.15 6.532-6.774z%27/%3E%3C/svg%3E");
}


.pow-captcha-modal .result-sharing .sh-link.sh-md > a {
  background-color: #4d5160;
  color: #fff;
}

.pow-captcha-modal .result-sharing .sh-link.sh-md > a > i {
  top: 4px;
  height: 18px;
  width: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216.4 232%27%3E%3Cpath fill=%27%232b90d9%27 d=%27M212 139c-3 16-29 34-58 38-15 2-30 3-46 3-26-2-46-7-46-7v8c4 25 26 27 47 28 21 0 39-6 39-6l1 19s-14 8-41 10c-14 1-32-1-53-6C9 214 1 165 0 116V76c0-50 33-65 33-65C50 3 78 0 108 0h1c29 0 58 3 74 11 0 0 33 15 33 65 0 0 1 37-4 63%27 /%3E%3Cpath fill=%27%23fff%27 d=%27M178 80v61h-25V82c0-13-5-19-15-19-12 0-18 8-18 22v33H96V85c0-14-6-22-17-22s-16 6-16 19v59H39V80c0-12 3-22 9-30 7-7 16-11 26-11 13 0 22 5 28 15l6 10 6-10c6-10 16-15 28-15 11 0 19 4 26 11 6 8 10 18 10 30%27 /%3E%3C/svg%3E");
}

.pow-boost-info .boost-descr {
  font-weight: bold;
}

.pow-boost-info .boost-passport {
  margin-top: 16px;
}

.pow-boost-info .passport-factor {
  margin-left: 16px;
}

.pow-boost-info .passport-details {
  margin-top: 16px;
}

.pow-boost-info .passport-factor-info {
  display: inline-block;
  margin-left: 4px;
}

.pow-boost-info .passport-refresh {
  margin: 8px 16px;
}

.pow-boost-info .passport-refresh button {
  width: 100%;
}

.pow-boost-info .passport-refresh .alert {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
}

.pow-boost-info .passport-details .row.details-header > div {
  padding: 0;
  font-weight: 600;
}

.passport-factor-info .header-row > div {
  white-space: nowrap;
}


/*# sourceMappingURL=powfaucet.css.map*/