
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.faucet-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.faucet-container {
  padding: 8px;
  margin: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.pow-faucet .faucet-page {
  width: 440px;
}

.pow-faucet .loading-spinner {
  padding: 16px 0;
}

.pow-faucet .loading-spinner .spinner {
  height: 30px;
  margin: 0 16px;
}

.pow-faucet .pow-faucet-home {
  text-align: center;
}

.pow-faucet .pow-faucet-home .image {
  max-width: 100%;
}

.pow-faucet .faucet-image {
  margin: 8px 8px 8px 8px;
}
 
@media screen and (max-height:700px) {
  .pow-faucet .faucet-image {
    display:none;
  }
}

.pow-faucet .faucet-actions {
  margin: 8px 0;
}

.pow-faucet .faucet-actions button {
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pow-faucet .faucet-actions button.start-action {
  background-color: #4CAF50;
}

.pow-faucet .faucet-actions button.stop-action {
  background-color: #af4c4c;
}

.pow-faucet .faucet-actions button:disabled {
  background-color: gray;
  color: #ccc;
  cursor: wait;
}

.pow-faucet .faucet-inputs {
  margin-top: 24px;
}

.pow-faucet .faucet-captcha {
  text-align: center;
  margin-top: 8px;
}

.pow-faucet .faucet-title {
  position: relative;
}

.pow-faucet .faucet-title .faucet-status-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.pow-faucet .pow-header {
  position: relative;
}

.pow-faucet .pow-status {
  height: 100%;
  background-color: white;
  border: 1px solid darkgray;
  padding: 8px;
}

.pow-faucet .pow-status .pow-status-top .status-title {
  text-align: center;
}

.pow-faucet .pow-status .pow-status-top .status-value {
  text-align: center;
  font-size: 28px;
}

.pow-faucet .pow-status .pow-status-spacer {
  height: 16px;
}

.pow-faucet .pow-status .pow-status-other {
  margin-top: 4px;
}

.pow-faucet .pow-status .pow-worker-controls button {
  width: 27px;
  margin-right: 6px;
  border-radius: 15px;
  height: 20px;
  padding: 0;
}

.spinner-alert .spinner-text {
  vertical-align: top;
  margin-left: 12px;
}

.pow-faucet .faucet-status {
  max-width: none;
}

.pow-faucet .faucet-status .status-panel {
  margin-bottom: 8px;
}

.pow-faucet .faucet-status .ipaddr-icon {
  margin-right: 8px;
}

.pow-faucet .faucet-description {
  font-size: 11pt;
  color: #343a40;
  margin-top: 16px;
}

.pow-faucet .faucet-description .pow-info {
  margin-top: 8px;
}



@media (max-width: 576px) {
  .pow-captcha-modal {
    max-width: 700px;
  }
}

.pow-captcha-modal .container {
  max-width: none;
}

#ipinfo-tooltip .tooltip-inner {
  max-width: none;
}

#ipinfo-tooltip .ipaddr-info {
  min-width: 200px;
  text-align: left;
}

#ipinfo-tooltip .ipaddr-info > table {
  width: 100%;
}

#ipinfo-tooltip .ipaddr-info .ipinfo-title {
  min-width: 80px;
}

#ipinfo-tooltip .ipaddr-info .ipinfo-value {
  min-width: 50px;
}
