
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.faucet-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.faucet-container {
  padding: 8px;
  margin: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.pow-faucet .faucet-page {
  width: 440px;
}

.pow-faucet .loading-spinner {
  padding: 16px 0;
}

.pow-faucet .loading-spinner .spinner {
  height: 30px;
  margin: 0 16px;
}

.pow-faucet .pow-faucet-home {
  text-align: center;
}

.pow-faucet .pow-faucet-home .image {
  max-width: 100%;
}

.pow-faucet .faucet-image {
  margin: 8px 8px 8px 8px;
}
 
@media screen and (max-height:700px) {
  .pow-faucet .faucet-image {
    display:none;
  }
}

.pow-faucet .faucet-actions {
  margin: 8px 0;
}

.pow-faucet .faucet-actions button {
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pow-faucet .faucet-actions button.start-action {
  background-color: #4CAF50;
}

.pow-faucet .faucet-actions button.stop-action {
  background-color: #af4c4c;
}

.pow-faucet .faucet-actions button:disabled {
  background-color: gray;
  color: #ccc;
  cursor: wait;
}

.pow-faucet .faucet-inputs {
  margin-top: 24px;
}

.pow-faucet .faucet-captcha {
  text-align: center;
  margin-top: 8px;
}

.pow-faucet .faucet-captcha > div {
  display: inline-block;
}

.pow-faucet .faucet-title {
  position: relative;
}

.pow-faucet .faucet-title .faucet-status-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.pow-faucet .pow-header {
  position: relative;
}

.pow-faucet .pow-status {
  height: 100%;
  background-color: white;
  border: 1px solid darkgray;
  padding: 8px;
}

.pow-faucet .pow-status .pow-status-top .status-title {
  text-align: center;
}

.pow-faucet .pow-status .pow-status-top .status-value {
  text-align: center;
  font-size: 28px;
}

.pow-faucet .pow-status .pow-status-spacer {
  height: 16px;
}

.pow-faucet .pow-status .pow-status-other {
  margin-top: 4px;
}

.pow-faucet .pow-status .pow-worker-controls button {
  width: 27px;
  margin-right: 6px;
  border-radius: 15px;
  height: 20px;
  padding: 0;
}

.spinner-alert .spinner-text {
  vertical-align: top;
  margin-left: 12px;
}

.pow-faucet .faucet-status {
  max-width: none;
}

.pow-faucet .faucet-status .status-panel {
  margin-bottom: 8px;
}

.pow-faucet .faucet-status .ipaddr-icon {
  margin-right: 8px;
}

.pow-faucet .faucet-description {
  font-size: 11pt;
  color: #343a40;
  margin-top: 16px;
}

.pow-faucet .faucet-description .pow-info {
  margin-top: 8px;
}

.pow-faucet .faucet-notifications {
  position: fixed;
  bottom: 0;
  right: 0;
}

.pow-faucet .faucet-notifications .pow-notification .alert {
  padding: 8px;
  min-width: 300px;
}

.pow-faucet .faucet-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 4px;
  font-size: 12px;
  color: #343a40;
  pointer-events: none;
}


@media (max-width: 576px) {
  .pow-captcha-modal {
    max-width: 700px;
  }
}

.pow-captcha-modal .container {
  max-width: none;
}

#ipinfo-tooltip .tooltip-inner {
  max-width: none;
}

#ipinfo-tooltip .ipaddr-info {
  min-width: 200px;
  text-align: left;
}

#ipinfo-tooltip .ipaddr-info.claim-error {
  max-width: 500px;
}

#ipinfo-tooltip .ipaddr-info > table {
  width: 100%;
}

#ipinfo-tooltip .ipaddr-info .ipinfo-title {
  min-width: 80px;
}

#ipinfo-tooltip .ipaddr-info .ipinfo-value {
  min-width: 50px;
}

.pow-faucet .status-sessions td, .pow-faucet .status-sessions th {
  padding: 0;
}

.pow-faucet .status-general {
  max-width: none;
}

.pow-faucet .status-general .status-title {
  display: inline-block;
  width: 180px;
}

.pow-captcha-modal .result-sharing {
  margin-top: 12px;
}

.pow-captcha-modal .result-sharing .share-opt.share-tw .share-link > a {
  position: relative;
  margin-left: 8px;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.pow-captcha-modal .result-sharing .share-opt.share-tw .share-link > a > i {
  position: relative;
  top: 4px;
  height: 18px;
  width: 18px;
  display: inline-block;
  background: transparent 0 0 no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

.pow-captcha-modal .result-sharing .share-opt.share-tw .share-link > a > span {
  font-size: 13px;
  line-height: 26px;
  margin-left: 4px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
